.menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid #e1e4e8;
    text-decoration: none;
    color: black;
}
.menu {
    margin-bottom: 15px;
    list-style: none;
    background-color: rgb(117, 189, 252);
    border: 2px solid #0556b9;
}
h1,h2 {
    font: oblique bold 120% cursive;
    text-align: center;
    font-size: 75px;
}
.menu-item:hover{
    background: #e996b2;
}
body{
	margin: 100px auto;
	text-align: center;
	width: 400px;
}
img {
	margin: 0 auto;
	border-radius: 10px;
}
.btn,btn1{
    width: 50px;
}